<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProjectCS" connectionString="Data Source=DESKTOP-F92OME9;Initial Catalog=ProjectCS;Persist Security Info=True;User ID=projectTest;Password=12345666" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>